*{
	box-sizing: border-box;
}

body {
	margin:0;
}

.header {
	background-color: powderblue;
	padding: 20px;
	text-align:center;
}
.topnav {
	overflow: hidden;
	background-color: pink;
}
.topnav a { 
     float:left;
	 display: block;
	 color: #990000;
	 text-align: center;
	 padding:14px 16px;
	 text-decoration: none;
}
.topnav a:hover{
	background-color:#add;
	color:black;
}
.colum{
	float:left;
	width:33.33%;
	padding:15px;
}
